.container-login{
	display: flex;
	flex-direction: column;
}

.form-wrapper{
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 20%;
}

@media (max-width: 480px) {
	/* mobile */
	.form-wrapper{
		width: 100%;
	}
}

@media (max-width: 768px) {
	/* tablets */
	.form-wrapper{
		width: 80%;
	}
}

@media (max-width: 1024px) {
	/* notebooks */
	.form-wrapper{
		width: 60%;
	}
}