.form-field{
	flex:1;
	margin-right: 5px;
}

.form-tip{
	flex:1;
	font-size:80%;
	margin-left: 5px;
}

.form-line{
	margin: 5px 0px;
	display: flex;
	flex-direction: row;
}

.form-wrapper-conta {
	align-self: center;
	width: 50%;
}

.container-conta {
	display: flex;
	flex-direction: column;
}

.btn-wrapper{
	width: 50%;
	margin: 5px;
}
.update-rep{
	text-decoration: underline;
	cursor: pointer;
}

.action-toggle{
	cursor: pointer;
}

@media (max-width: 480px) {
	/* mobile */
	.form-line{
		flex-direction: column;
	}
	.form-wrapper-conta {
		align-self: center;
		width: 90%;
	}
	.btn-wrapper{
		width: 100%;
		margin: 5px;
	}
}

@media (max-width: 768px) {
	/* tablets */
	.form-wrapper-conta{
		width: 90%;
	}
}

@media (min-width: 1024px) {
	/* notebooks */
	.form-wrapper-conta{
		width: 50%;
	}
}