.menu-header{
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
}

.menu-header > div{
	flex: 1;
	text-align: center;
	font-size: 110%;
	word-spacing: 5px;
	padding: 5px 0px;
	font-weight: bold;
}
.menu-header a{
	display: block;
	width: 100%;
	height: 100%;
}

.menu-header > div:hover{
	background-color: #dddddd;
	cursor: pointer;
}

.menu-header a{
	text-decoration: none;
	color: #000000;
}