.contanier-sobre{
	max-width: 70%;
	margin: auto;
}

.section-title{
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	border-bottom: 3px dashed;
	padding-bottom: 15px;
	padding-top: 15px;
}



.section-content{

}