.loading-memories{
	text-align: center;
	margin-bottom: 100px;
	margin-top: 100px;
}

.loading-icon{
	max-width: 100px;
	max-height: 100px;
	filter: brightness(0);
	margin-bottom: -30px;
}

.load-button-container{
	max-width: 200px;
	margin: 0 auto;
}