.scraped-container{
	max-width: 70%;
	margin: 0 auto;
}

.new-replacement{
	display: flex;
	flex-direction: row;
}
.new-replacement div{
	flex:1;
	margin: 5px;
}
.current-replacements{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.scraped-memory-container{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-style: dashed;
	border-width: 0px 0px 2px 0px;
	transition: height 0ms 1000ms;
}

.dismissed{
	animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

.button-container{
	display: flex;
	direction: row;
}

.button-container div{
	flex: 1;
	margin-left: 5px;
	margin-right: 5px;
}

@keyframes removed-item-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
		height: 0px;
		margin: 0px;
		padding: 0px;
		display: none;
    }
}
