.memory-details-container{
	margin: 0 auto;
	max-width: 70%;
}
.version-sys-comment{
	font-size: 115%;
	font-weight: bold;
	flex:2;
}
.v-user-comment{
	font-size: 90%;
}
.v-user-comment span{
	font-style: italic;
}

.version-collapsed{
	padding-left: 30px;
}

.version-header{
	margin-top: 15px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

.version-date{
	flex:1.2;
}

.version-details-toggle{
	flex:1;
}

.memory-details-merged{

}