.user-profile-page{
	max-width: 70%;
	margin: 0 auto;
}

.profile-header{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}