/* https://www.colourlovers.com/palette/216065/Newspaper */

body {
	font-family: 'News Cycle', sans-serif;
	margin: 0;
	background-color: #ebe9e9;
}


.custom-txt{
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	padding-left: 5px;
	margin: 10px 0px 10px 0px;
	width: 100%;
	box-sizing: border-box;
}
.custom-txt:focus {
	outline: 0;
	box-shadow: 0;
}
option{
	border: none;
	background-color: #beb9b9;
}
select option:hover {
  color: #000;
  box-shadow: inset 20px 20px #00f;
}
.custom-button{
	width: 100%;
	background-color: transparent;
	border-style: solid;
	border-color: #000000;
	cursor: pointer;
	padding: 2px 0px 5px 0px;
}

.custom-button:hover{
	background-color: #dddddd;
}

/* START CUSTOMIZING REACT MODAL */
.ReactModal__Content{
	width: 50%;
	margin: 0 auto;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #beb9b9;
}

@media (max-width: 480px) {	.form-wrapper{ width: 100%; }}
@media (max-width: 768px) {	.form-wrapper{ width: 80%; }}
@media (max-width: 1024px) {	.form-wrapper{ width: 50%; }}

/* END CUSTOMIZING REACT MODAL */

/* START CUSTOMIZING REACT COLLAPSE */
.ReactCollapse--collapse{
	transition: all 0.5s ease 0s;
}
/* END CUSTOMIZING REACT COLLAPSE */

/* START CUSTOMIZING DATEPICKER */
.react-datepicker__input-container input{
	background-color: transparent !important;
	border-style: solid !important;
	border-width: 0px 0px 1px 0px !important;
	border-color: #000000 !important;
	padding-left: 5px !important;
	margin: 10px 0px 10px 0px !important;
	width: 100% !important;
	box-sizing: border-box !important;
}
.react-datepicker-ignore-onclickoutside input{
	background-color: transparent !important;
	border-style: solid !important;
	border-width: 0px 0px 1px 0px !important;
	border-color: #000000 !important;
	padding-left: 5px !important;
	margin: 10px 0px 10px 0px !important;
	width: 100% !important;
	box-sizing: border-box !important;
}
.react-datepicker-wrapper{
	width: 100% !important;
}
.react-datepicker__input-container input:focus{
	outline: 0;
	box-shadow: 0;
}
/* END CUSTOMIZING DATEPICKER */