.title-wrapper{
	display: flex;
	flex-direction: column;
}
.title{
	margin: 10px 50px 15px 50px;
}
.subtitle{
	margin: 10px 50px 15px 50px;
	/* border-width: 1px 0px 1px 0px; */
	/* border-style: solid; */
	font-size: 150%;
	align-items: center;
}