.action-container{
	display: flex;
	flex-direction: row;
}
.positive-modifier{
	flex:0.2;
	color: blue;
}
.negative-modifier{
	flex:0.2;
	color: red;
}
.action-description{
	flex: 0.5;
}
.action-date{
	flex:0.3;
}