.visualization-page-container{
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: stretch;
}

/* .filter-toggle{
	background-color: #ffffff;
	margin: 0 auto;
	width: 50px;
	height: 30px;
	text-align: center;
	border-radius: 0px 0px 30px 30px;
	cursor: pointer;
	z-index: 100;
	left: 50%;
} */

.filter-container{
	background-color: #ffffff;
	flex: 0 0 400px;
	padding: 15px;
	box-sizing: border-box;
}

.visualization-container {
	/* width: 100%; */
	/* height: 100vh; */
	flex: 0 0 calc(100% - 400px);
}