.memoria-container{
	border: solid;
	border-color: #302b2b;
	border-width: 0px 0px 0px 2px;
	padding-top:15px;
	padding-bottom:15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	max-width: 70%;
}

.timestamp {
	transform: translatex(-50%);
	width: max-content;
	background: white;
	padding: 0 0.15em;
}

.manchete{
	font-size: 130%;
	cursor: pointer;
}


.memoria-col{
	flex-grow: 1;
}
.menu-memory-col{
	display: flex;
	min-height: 100%;
	align-self: stretch;
	align-items: center;
}
.memory-menu-btn{
	height: 100%;
	font-size: 150%;
}

.editing-comment{
	width: 100%;
	box-sizing: border-box;
}